 
@media screen and (max-width: 767px) { 

    .footer {
        height: 10vh;
        background-color: #4E598C;
        display: flex;
        justify-content: space-between;
        font-size: 6px;
        color: white;
        font-family: "Arial", "Segoe UI", Tahoma, "sans-serifl", "Helvetica Neue", Helvetica;
    }

    .menuinfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
      }

    .info{
        margin-right: 12px;
    }
}

@media screen and (min-width: 1024px) {
     .footer {
    background-color: #4E598C;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 24px 120px;
    color: white;
    font-family: "Arial", "Segoe UI", Tahoma, "sans-serifl", "Helvetica Neue", Helvetica;
} 
}

@media screen and (min-width:767px) and (max-width:1023px) {
    .footer {
        background-color: #4E598C;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        padding: 24px 120px;
        color: white;
        font-family: "Arial", "Segoe UI", Tahoma, "sans-serifl", "Helvetica Neue", Helvetica;
    }

}