.movies {
    /* display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 24px; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
  }

  .title {
    color: #777de4;
    height: 15vh;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 50px;
}

.container {
    background-color: white;
    
}

.space{
    height: 20px;
    background-color: #FF8C42;
}