@media screen and (max-width: 767px) { 

    .movies {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero {
        display: flex;
        justify-content: space-between;
        height: 40vh;
        width: 100%;
      }

    .title {
        color: #777de4;
        height: 8vh;
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-left: 15px;
    }
    .container {
        background-color: white;
        
    }
    
    .space{
        height: 15px;
        background-color: #FF8C42;
    }
    
    .inputContainer{
        padding: 13px;
        display: flex;
        justify-content: end;
        height: 3vh;
      }
    
      .busqueda{ 
        width: 50%;
        border: 2px solid #22254b;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1024px) {
    .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
  }

  .title {
    color: #777de4;
    height: 15vh;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 50px;
}

.container {
    background-color: white;
    
}

.space{
    height: 20px;
    background-color: #FF8C42;
}

.inputContainer{
    padding: 25px;
    display: flex;
    justify-content: end;
    height: 5vh;
  }

  .busqueda{ 
    width: 50%;
    border: 2px solid #22254b;
    border-radius: 5px;
}
}

@media screen and (min-width:767px) and (max-width:1023px) {
    .movies {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .hero {
        display: flex;
        justify-content: space-between;
        height: 80vh;
        width: 100%;
      }
    
      .title {
        color: #777de4;
        height: 15vh;
        display: flex;
        align-items: center;
        font-size: 40px;
        margin-left: 50px;
    }
    
    .container {
        background-color: white;
        
    }
    
    .space{
        height: 20px;
        background-color: #FF8C42;
    }
    
    .inputContainer{
        padding: 25px;
        display: flex;
        justify-content: end;
        height: 5vh;
      }
    
      .busqueda{ 
        width: 50%;
        border: 2px solid #22254b;
        border-radius: 5px;
    }
}
